@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

body {}

.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100%;
}

.page {}

.page__container {}

[class*="__container"] {
	max-width: 1250px;
	margin: 0 auto;
}

/* 
.page__bg {
    margin-top: 20px;
    margin-bottom: 50px;
}

.bg {}

.bg *{
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-bottom: 50px;
    margin-right: 50px;
    color: white;
    text-align: center;
}
.bg *:nth-child(5), 
:nth-child(10)
{
    margin-right: 0;
}


.bg > div > div > p{
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-75%, -5%);        
    text-transform: uppercase;
}


.bg__transform{
    background-color: rgb(128, 128, 128, 0.5);
}

.transform__translate {
    background-color:rgb(9, 75, 75);
    transform: translate(20%, 20%);
}


.transform__scale {
    background-color:rgb(15, 131, 92);
    transform: scale(0.8);
}

.transform__rotate {
    background-color:rgb(11, 11, 91);
    transform: rotate(10deg);
}

.transform__skew {
    background-color:rgb(94, 10, 178);
    transform: skew(30deg, 10deg);
}

.transform__matrix {
    background-color:burlywood;
    transform: matrix(2, -1, 1, 0, 109, -32);
}

.transform__transform-multiple {
    background-color:cadetblue;
    transform: translate(3%, -8%) scale(-0.8) rotate(318deg) skew(28deg, 28deg);
}

.transform__transform-origin {
    background-color:chocolate;
    transform-origin: 0 0;
    transform: rotate(342deg);
}

.transform{
    perspective: 214px;
	perspective-origin:left;
    transform-style:preserve-3d;
}
.transform__perspective {
    background-color:cornflowerblue;
    transform: rotateX(322deg);
}

.transform__transform-style {
    background-color:darkgreen;
    transform: rotateY(123deg);
}

.bg__transform:hover .transform__backface-visibility{
    transform: translate(50%, 0px);
}

.transform__backface-visibility {
    background-color:darksalmon;
    backface-visibility: hidden;
}  */

/*  */
a {
	display: inline-block;
	margin-bottom: 20px;
}

.page__leo {}

.leo {
	font-family: 'Amatic SC', serif;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	perspective: 400px;
	margin: 0 auto;
	width: 700px;
	height: 700px;
}

.leo:hover .shade {
	transform: translate(-700%, 0px);
	transition: 7s;
}

.leo__shade {}

.shade {
	position: relative;
	height: 100%;
	background: rgba(0, 0, 0, 0.305);
	z-index: 1;
}

.shade:hover~.detail {
	opacity: 1;
	visibility: visible;
	z-index: 99;
}



.shade:hover~.detail .detail-1:hover {
	transform: scale(1.2);
}

.shade:hover~.detail .detail-11:hover {
	transform: scale(1.2);
	top: 540px;
	left: 480px;
}

.shade:hover~.detail .detail-2:hover {
	transform: scale(2);
}

.shade:hover~.detail .detail-3:hover {
	transform: scale(2);
}

.shade:hover .shade__title {
	visibility: hidden;
}

.shade__title p {
	display: inline-block;
	position: relative;
	top: 0%;
	left: 0%;
	margin-right: -50%;
	transform: translate(-110%, 1400%);
	z-index: 0;
}

.leo__animal-detail {}

.detail {
	/* opacity: 0; */
	visibility: hidden;
}

.detail div {
	position: absolute;
	/* transition: all 0.7s ease-in 0s; */
}

.detail-1 {
	background: url("../img/leo/1.png") no-repeat;
	top: 155px;
	left: 480px;
	width: 319px;
	height: 317px;
}

.detail-2 {
	background: url("../img/leo/2.png") no-repeat;
	top: 246px;
	left: 724px;
	width: 33px;
	height: 33px;
}

.detail-3 {
	background: url("../img/leo/3.png") no-repeat;
	top: 246px;
	left: 530px;
	width: 33px;
	height: 33px;
}

.detail-4 {
	background: url("../img/leo/4.png") no-repeat;
	top: 332px;
	left: 610px;
	width: 67px;
	height: 57px;
}

.detail-5 {
	background: url("../img/leo/5.png") no-repeat;
	top: 333px;
	left: 574px;
	width: 137px;
	height: 97px;
}

.detail-6 {
	background: url("../img/leo/6.png") no-repeat;
	top: 308px;
	left: 612px;
	width: 10px;
	height: 12px;
}

.detail-7 {
	background: url("../img/leo/7.png") no-repeat;
	top: 308px;
	left: 668px;
	width: 10px;
	height: 12px;
}

.detail-8 {
	background: url("../img/leo/8.png") no-repeat;
	top: 297px;
	left: 679px;
	width: 11px;
	height: 11px;
}

.detail-9 {
	background: url("../img/leo/9.png") no-repeat;
	top: 297px;
	left: 598px;
	width: 11px;
	height: 11px;
}

.detail-10 {
	background: url("../img/leo/10.png") no-repeat;
	top: 244px;
	left: 546px;
	width: 195px;
	height: 189px;
}

.detail-11 {
	background: url("../img/leo/11.png") no-repeat;
	top: 543px;
	left: 481px;
	width: 32px;
	height: 38px;
}

.detail-12 {
	background: url("../img/leo/12.png") no-repeat;
	top: 455px;
	left: 509px;
	width: 259px;
	height: 206px;
}

.detail-13 {
	background: url("../img/leo/13.png") no-repeat;
	top: 578px;
	left: 720px;
	width: 22px;
	height: 11px;
}

.detail-14 {
	background: url("../img/leo/14.png") no-repeat;
	top: 573px;
	left: 541px;
	width: 22px;
	height: 10px;
}

.detail-15 {
	background: url("../img/leo/15.png") no-repeat;
	top: 650px;
	left: 583px;
	width: 50px;
	height: 13px;
}

.detail-16 {
	background: url("../img/leo/16.png") no-repeat;
	top: 650px;
	left: 654px;
	width: 50px;
	height: 13px;
}
